@import "tailwindcss";

@layer base {
  a {
    text-decoration: underline;
    font-weight: theme('fontWeight.semibold');
    color: theme('colors.sky.400');
  }

  a:hover {
    text-decoration: underline;
    text-decoration-color: theme('colors.blue.400');
    color: theme('colors.blue.400');
  }

  h1 {
    font-size: theme('fontSize.4xl');
    font-weight: theme('fontWeight.bold');
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}